#movie-result {
  background: rgb(244, 98, 181);
  border: 5px solid black;
  font-size: 24px;
  height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#book-result {
  background: rgb(196, 159, 255);
  border: 5px solid black;
  font-size: 24px;
  height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}

hr {
  height: 5px;
  background-color: black;
}

body {
  background-image: url("https://cdn.glitch.global/cf9a0f03-a8b4-48bf-a691-d0d4ef909359/images.jpg?v=1748469304514");
}

#quiz {
  font-family: cursive;
  font-size: 3.5em;
  color: #ff69b4;
}

#mee {
  font-family: cursive;
  font-size: 3.5em;
  color: #f33a6a;
}
